---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.wrapper {
  width: auto;
  margin: auto auto;
}

header, footer {
  position: inherit;
}

section {
  width: auto;
}

